.all{
    background-color:rgb(5, 42, 71);
    display: flex;  
    width: 100%;
    height:1000px;
    justify-content: space-evenly;
}
#p1{
    border: 2px solid black;
    width:100%;
    height:150px;
    padding:10px;
    background-color: whitesmoke;
    border-radius: 10px;
}
#p1:hover{
    width:100%;
    height:200px;
}
.box1{  
    margin-left:50px ;
    margin-top: 100px;
    margin-bottom: 400px;
    margin-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 80px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    justify-content: flex-start;
}

#p2{
    text-align: center;
    font-size: larger;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 20px;
    
}

#p4{
    text-align: center;
    font-size: larger;
    font-weight: 500;
    padding-left: 40px;
   color: lightseagreen;
    
}

#p5{
    text-align: center;
    font-size: larger;
    padding-left: 30px;
    
}


#p3{
    border:2px solid black;
    background-color: rgb(31, 157, 210);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    color: white;
    padding-left: 30px; 
    border-radius: 10px;
}
.box2{  
    margin-left:50px ;
    margin-top: 100px;
    margin-bottom: 400px;
    margin-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 80px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    justify-content: flex-start;
}